body{
    margin: 0;
    background-color: rgb(223,223,223);
    padding: 22px 0;
    font-size:14px;
    font-family: 'Segoe UI', 'PT Sans', Arial, sans-serif;
    color: #404040;
    line-height: normal;
}
