:local {
    .header{
        text-align: center;
        padding: 0 0 32px 0;
    }

    .logo {
        font-size: 36px;
        padding: 0 0 15px 0;
    }

    .title {
        font-size: 20px;
        padding: 0 0 10px 0;
    }

    .helpLink{
        font-size:14px;
    }
}
