:local {
    .bigButton {
        height: 61px;
        line-height: 61px;
        font-size: 20px;
        background: rgba(255, 255, 255, 0.90);
        color: #808080;
        text-align: center;

        &:hover {
            background: #e4f3ff;
            color: #3c87cf;
            cursor: pointer;
            cursor: hand;
        }
    }
}
